<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iPhone 15</title>
    <link rel="stylesheet" href="../styles/producto.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <h1>Diego Iphone</h1>
        <a href="./Carro.html" class="cart-button"><i class='bx bx-cart'></i> Carrito (<span id="cart-count">0</span>)</a>
    </header>

    <main>
        <section class="producto">
            <div class="producto-imagen">
                <img src="../resources/images/iphone_15.webp" alt="iPhone 15">
            </div>
            
            <div class="producto-detalles">
                <h2>iPhone 15</h2>
                <h3> 128GB</h3>
                <p class="precio">$ 4.688.960</p>
                <div class="medios-pago">
                    <h3>Pagos PSE</h3>
                    <p>Visa, Bancolombia, MasterCard, Nequi</p>
                </div>
                <div class="producto-acciones">
                    <button id="btnrent" class="btn btn-primary">Comprar</button>
                    <button id="btnaddcar" class="btn btn-secondary">Agregar al Carrito</button>
                </div>
                <p class="fabricante">Apple</p>
                
            </div>
        </section>

        <section class="especificaciones">
            <h2>Especificaciones Técnicas</h2>
            <table>
                <tr>
                    <th>Característica</th>
                    <th>Detalle</th>
                </tr>
                <tr>
                    <td>Pantalla</td>
                    <td>OLED Super Retina XDR de 6.1 pulgadas</td>
                </tr>
                <tr>
                    <td>Chip</td>
                    <td>A16 Bionic</td>
                </tr>
                <tr>
                    <td>Cámaras</td>
                    <td>Doble cámara de 48 MP (gran angular y ultra gran angular)
                    </td>
                </tr>
                <tr>
                    <td>Funciones</td>
                    <td> Face ID, video 4K, Dynamic Island, Photonic Engine, MagSafe, 5G, resistencia al agua y al polvo (IP68)</td>
                </tr>
                
            </table>
        </section>

    </main>

    <footer>
        <p>&copy; Diego iphone</p>
    </footer>

    <script type="module">
       
    </script>
</body>
</html>
