<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../styles/main.css">

</head>
<body>
    
    <section class="catalogo">
        <h2>Mis Bicicletas</h2>
        <div id="owner-bikes" class="catalogo-container">
        </div>
    </section>

    <button id="signout">Cerrar Sesion</button>
    <script type="module" src="../controllers/profile.js"></script>
</body>
</html>