body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0e0277;
    color: white;
}

.menu-desplegable {
    position: relative;
    display: inline-block;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu-list {
    display: none;
    position: absolute;
    background-color: #a71111;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    padding: 8px 16px;
}

.menu-list li a {
    color: white;
    text-decoration: none;
}

.menu-list li a:hover {
    background-color: #575757;
}

.menu-desplegable:hover .menu-list {
    display: block;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.busqueda-renta {
    padding: 2rem;
    background-color: #c9cefd;
    text-align: center;
}

.busqueda-form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
}

select {
    padding: 0.5rem;
    font-size: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #0056b3;
}

.productos {
    padding: 2rem;
    background-color: white;
    text-align: center;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-track-container {
    overflow: hidden;
    width: 80%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

/* Estilos para la sección de descuentos */
.descuentos {
    padding: 2rem;
    background-color: #c9cefd;
    text-align: center;
}

.discounts-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.discount-item {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    flex: 1 1 250px; 
    max-width: calc(33.33% - 1rem);
}

.discount-item:hover {
    transform: translateY(-10px);
}

.discount-item img {
    max-width: 100%;
    border-radius: 8px;
}

.discount-item h3 {
    margin: 0.5rem 0;
}


.catalogo {
    padding: 2rem;
    background-color: white;
    text-align: center;
}

.catalogo-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.contacto {
    padding: 2rem;
    background-color: #c9cefd;
    text-align: center;
}

.caracteristicas-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.caracteristicas-item {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.suscripciones {
    padding: 2rem;
    background-color: white;
    text-align: center;
}

.suscripciones-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.plan-item {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    cursor: pointer;
    transition: transform 0.3s;
}

.plan-item:hover {
    transform: translateY(-10px);
}

.plan-item img {
    max-width: 100%;
    border-radius: 8px;
}

.plan-item h3 {
    margin: 0.5rem 0;
}

.plan-item p {
    font-size: 1.25rem;
    color: #af0404;
}

.btn-ver-mas {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
}

.btn-ver-mas:hover {
    background-color: #0056b3;
}

.sobre-nosotros {
    padding: 2rem;
    background-color: #c9cefd;
    text-align: center;
}

.sobre-nosotros-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.sobre-nosotros-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sobre-nosotros-item {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
}

footer {
    padding: 1rem;
    background-color: #0e0277;
    color: white;
    text-align: center;
}

.auth-button {
    background-color: #1f3442;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #8fc4e7;
}